:root {
    --menu-bg-color: #213555;
    --menu-color: white;

    --sidebar-width: 200px;
    --menu-height: 60px;
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

.sidebar-container .sidebar {
    width: var(--sidebar-width);
    background-color: #213555;
    color: white;
    padding: 2% 0;
}

.sidebar-option {
    display: flex;
    justify-content: inherit;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2px 0 ;
}

.mini-menu-placeholder {
    margin-bottom: 0;
}

.mini-menu {
    border-bottom: none !important;
    
}

.sidebar-container main {
    max-height: calc(100vh - var(--mini-menu-height));
    max-width: calc(100vw - var(--sidebar-width));
    overflow: auto;
}