@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --menu-height: 74px;
    --mini-menu-height: 40px;
    --menu-color: #fefefe;
    --menu-bg-color: #162742;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

nav > *,
nav {
    box-sizing: border-box;
}

nav.menu {
    min-width: 100vw;
    align-items: center;
    position: fixed;
    display: flex;
    font-family: 'roboto', serif;
    z-index: 10;
}


nav.menu.floating {
    box-shadow: rgba(20, 20, 20, 0.1) 3px 2px 2px 3px;
}

nav.menu:not(.floating) {
    border-bottom: 1px solid rgba(114, 114, 114, 0.3);
}


nav.menu > .item {
    display: inline;
    padding: 0 12px;

    text-decoration: none;

    height: 100%;

    vertical-align: middle;

    cursor: pointer;
    user-select: none;
    color: var(--menu-color);

}


nav.menu > .item:not(.no-hover) {
    filter: opacity(0.8);
}

nav.menu > .item:hover:not(.no-hover) {
    filter: none;
}

nav.menu > .item:not(:last-child) {
    margin-right: 8px;
}


nav.menu > .item.spacer {
    flex-grow: 1;
    cursor: default;
}

nav.menu.fixed {
    position: inherit;
}

nav.main-menu {
    background-color: var(--menu-bg-color);
    height: var(--menu-height);
}

nav.main-menu > .item {
    line-height: var(--menu-height);
}


.main-menu-placeholder {
    height: var(--menu-height);
    margin-bottom: 2.5rem;
}

nav.mini-menu {
    background-color: var(--menu-bg-color);
    height: var(--mini-menu-height);
}

nav.mini-menu > .item {
    line-height: var(--mini-menu-height);
}


nav.main-menu > .item.header .logo {
    height: 32px;
    align-self: center;
    margin-right: 10px;


}


nav.main-menu > .header.item {
    display: flex;
    font-size: 1.05rem;
}


.button {
    padding: 10px;
    color: white;
    font-weight: 800;
    border-radius: 8px;
    background-color: #007bff;
    text-decoration: none;
}

#profile-dropdown {
    padding-left: 0;
    padding-right: 0;
}


#profile-dropdown > img {
    align-self: center;
    transform: translateY(6px);
    vertical-align: unset;
    margin-right: 10px;
}

#profile-dropdown .dropdown-content {
    right: 0;
}


.dropdown > .dropdown-content {
    background-color: white;
    display: none;
    line-height: initial;
    width: 180px;

    box-sizing: border-box;
    box-shadow: #0d14301e 0 2px 2px 2px;
}

.dropdown:hover > .dropdown-content,
.dropdown:focus > .dropdown-content,
.dropdown > .dropdown-content:focus,
.dropdown > .dropdown-content:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.button:hover {
    filter: saturate(0.9) brightness(0.9);
}

.dropdown-content > .item {
    color: #000;
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    text-align: center;
}

.dropdown-content > .item:hover {
    background-color: #00000021;
}

main {
    flex-grow: 0;
}

footer {
    background-color: #162742;
    color: white;
    min-height: 100px;
    font-family: 'roboto', serif;
    padding: 12px;
}

.footerlogo {
    height: 32px;
    margin-right: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
}

.aboutus {
    padding: 20px 10px;
    font-size: 0.9rem;
    width: 500px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.quicklinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 4%;
}

.fitem > p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.fitem > a {
    text-emphasis: none;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.fitem > a:hover {
    text-decoration: underline;
}

footer .copyright {
    margin-top: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.main-menu:not(.logged-in) .if-login {
    display: none;
}

.main-menu.logged-in .if-not-login {
    display: none;
}

.social {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
    justify-content: flex-start;
    color: #162742;
    padding: 0;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #ffffff;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.social li a:hover {
    background: #E5D283;
}

.social li ion-icon {
    font-size: 1.5em;
    color: #162742;
}

