@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile-container {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.profile-container .profile-header {
    text-align: center;
}

.profile-container .profile-pic {
    display: flex;
    justify-content: center;
}

.profile-container table tr {
}

.profile-container table tr td:first-child {
    width: 7ch;
    display: inline-block;
    margin-right: 20px;
}

.profile-container table {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.profile-container .field {
    margin-top: 20px;
    font-size: 22px;
}

.profile-container input:not([type="submit"]) {
    height: 50px;
    border-radius: 6px;
    border: #0000003d solid 1px;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.profile-container label {
    margin-right: 10px;
}


