@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    background-image: url(../images/appointment/appointmetBG.jpg);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: auto;
    height: auto;
}

.container .column {
    margin: 70px;
    width: 40%;
    margin-top: 20px;
}

.container .column h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.container .column form {
    color: rgb(250, 250, 250);
    font-size: 24px;
    background-color: rgba(12, 72, 80, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.container .column input {
    border: none;
    color: rgb(61, 60, 60);
    background-color: rgb(240, 248, 255, 0.5);
    font-size: 22px;
    width: 100%;
    border-radius: 4px;
    height: 40px;
}

.container .column textarea {
    border: none;
    color: rgb(61, 60, 60);
    background-color: rgb(240, 248, 255, 0.5);
    font-size: 22px;
    width: 100%;
    border-radius: 4px;
    height: 100px;
    resize: none;
}

.container .column select {
    background-color: rgb(240, 248, 255, 0.5);
}

.container .column textarea {
    background-color: rgb(240, 248, 255, 0.5);
}

.container .column .input-col {
    display: flex;
}

.container .column select {
    height: 30px;
}

.container .column .btn {
    font-size: 18px;
    margin: 10px;
    width: 20%;
    background-color: rgb(62, 54, 54, 0.7);
    color: aliceblue;
}

.container .column .btn:hover {
    transition: 0.3s;
    background-color: rgb(209, 221, 232, 0.7);
    color: black;
}

.container .column1 {
    margin: 100px;
}

.container .column1 h3 {
    font-size: 30px;
    color: aliceblue;
    font-style: italic;
    margin-left: 20px;
}