@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: whitesmoke;
}

/* Hero section styles */
.hero {
    background-image: url('/src/main/webapp/images/DALL·E\ 2023-10-18\ 13.03.41.png');
    background-size: cover;
    background-position: right;
    color: #213555;
    text-align: right;
    padding: 100px 50px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: left;
}

.hero .btn:hover {
    background-color: #0056b3;
}

/* Features and services section styles */
.card {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.feature {
    width:300px;
    height: 350px;;
    margin: 20px;
    padding: 40px 20px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.feature:hover {
    box-shadow: 0px 0px 10px 10px rgb(79, 112, 156, 0.5);
}

.features, .services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.features h2, .services h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.feature, .service {
    text-align: center;
    margin-bottom: 40px;
}

.feature h3, .service h3 {
    font-size: 24px;
    margin-top: 20px;
}

.feature p, .service p {
    font-size: 16px;
    color: #555;
}

/* Contact section styles */
.contact {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
