<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>FinalProjectNN</display-name>


    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- The mapping for the default servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>com.servlet.CustomerRegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Admin servlet -->
    <!-- Admin Login servlet -->
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showUserProfile</servlet-name>
        <servlet-class>com.servlet.UserProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showUserProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>customerDeleteProfile</servlet-name>
        <servlet-class>com.servlet.CustomerDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>customerDeleteProfile</servlet-name>
        <url-pattern>/userProfileDelete</url-pattern>
    </servlet-mapping>
    <!-- Admin servlet -->
    <!-- AdminCreateStaffServlet -->
    <servlet>
        <servlet-name>adminCreateStaffMember</servlet-name>
        <servlet-class>com.servlet.admin.AdminCreateStaffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminCreateStaffMember</servlet-name>
        <url-pattern>/adminCreateStaff</url-pattern>
    </servlet-mapping>

    <!-- AdminManageUsersServlet -->
    <servlet>
        <servlet-name>adminManageUsers</servlet-name>
        <servlet-class>com.servlet.admin.AdminManageUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminManageUsers</servlet-name>
        <url-pattern>/adminManageUsers</url-pattern>
    </servlet-mapping>

    <!-- AdminEditUserServlet -->
    <servlet>
        <servlet-name>adminEditUser</servlet-name>
        <servlet-class>com.servlet.admin.AdminEditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminEditUser</servlet-name>
        <url-pattern>/adminEditUser</url-pattern>
    </servlet-mapping>

    <!-- AdminDeleteUserServlet -->
    <servlet>
        <servlet-name>adminDeleteUser</servlet-name>
        <servlet-class>com.servlet.admin.AdminDeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminDeleteUser</servlet-name>
        <url-pattern>/adminDeleteUser</url-pattern>
    </servlet-mapping>

    <!-- Manager -->
    <!-- ManageAppointmentsServlet -->
    <servlet>
        <servlet-name>manageAppointment</servlet-name>
        <servlet-class>com.servlet.manager.ManageAppointmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manageAppointment</servlet-name>
        <url-pattern>/manageAppointment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestItem</servlet-name>
        <servlet-class>com.servlet.staff.RequestItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestItem</servlet-name>
        <url-pattern>/requestItem</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.servlet.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Request.html</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
