<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>FinalProjectNN</display-name>


    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- The mapping for the default servlet -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
	<!-- For customer registration -->
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>com.servlet.CustomerRegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
	 
	<!-- For customer-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
	
	<!-- For all logout -->
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- For all staff log in -->
    <servlet>
        <servlet-name>staffLogin</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>staffLogin</servlet-name>
        <url-pattern>/staff/login</url-pattern>
    </servlet-mapping>
    
    <!-- For make an appointment -->
    <servlet>
        <servlet-name>createAppointment</servlet-name>
        <servlet-class>com.servlet.AppointmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createAppointment</servlet-name>
        <url-pattern>user/createAppointment</url-pattern>
    </servlet-mapping>
    
    <!-- For user profile view -->
    <servlet>
        <servlet-name>showUserProfile</servlet-name>
        <servlet-class>com.servlet.UserProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showUserProfile</servlet-name>
        <url-pattern>user/profile</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>showUserAppointments</servlet-name>
        <servlet-class>com.servlet.ShowUserAppointments</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showUserAppointments</servlet-name>
        <url-pattern>/appointments</url-pattern>
    </servlet-mapping>

    <!-- Staff servlet -->
    <!-- Staff Login servlet -->
    <servlet>
        <servlet-name>showStaffProfile</servlet-name>
        <servlet-class>com.servlet.staff.StaffProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showStaffProfile</servlet-name>
        <url-pattern>/staff/profile</url-pattern>
    </servlet-mapping>

    <!-- AdminCreateStaffServlet -->
    <servlet>
        <servlet-name>adminCreateStaffMember</servlet-name>
        <servlet-class>com.servlet.admin.AdminCreateStaffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminCreateStaffMember</servlet-name>
        <url-pattern>/admin/adminCreateStaff</url-pattern>
    </servlet-mapping>

    <!-- AdminManageUsersServlet -->
    <servlet>
        <servlet-name>adminManageUsers</servlet-name>
        <servlet-class>com.servlet.admin.AdminManageUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminManageUsers</servlet-name>
        <url-pattern>/staff/manageUsers</url-pattern>
    </servlet-mapping>
    
	<!-- Admin & Manager manage Staff -->
    <servlet>
        <servlet-name>adminManageStaff</servlet-name>
        <servlet-class>com.servlet.admin.AdminManageStaff</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminManageStaff</servlet-name>
        <url-pattern>/staff/manageStaff</url-pattern>
    </servlet-mapping>

    <!-- Admin EditUserServlet -->
    <servlet>
        <servlet-name>adminEditUser</servlet-name>
        <servlet-class>com.servlet.admin.AdminEditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminEditUser</servlet-name>
        <url-pattern>/staff/editUser</url-pattern>
    </servlet-mapping>

    <!-- Admin Delete UserServlet -->
    <servlet>
        <servlet-name>adminDeleteUser</servlet-name>
        <servlet-class>com.servlet.admin.AdminDeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminDeleteUser</servlet-name>
        <url-pattern>/staff/deleteUser</url-pattern>
    </servlet-mapping>

    <!-- Manager Manage AppointmentsServlet -->
    <servlet>
        <servlet-name>manageAppointment</servlet-name>
        <servlet-class>com.servlet.manager.ManageAppointmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manageAppointment</servlet-name>
        <url-pattern>/staff/manageAppointment</url-pattern>
    </servlet-mapping>
	
	<!-- Staff member request Item -->
    <servlet>
        <servlet-name>requestItem</servlet-name>
        <servlet-class>com.servlet.staff.RequestItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestItem</servlet-name>
        <url-pattern>/staff/requestItem</url-pattern>
    </servlet-mapping>
    
    <!-- Staff member view Item list -->
    <servlet>
		<servlet-name>ViewItemListServlet</servlet-name>
		<servlet-class>com.servlet.admin.ViewItemListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewItemListServlet</servlet-name>
		<url-pattern>/staff/viewItemList</url-pattern>
	</servlet-mapping>
	
	<!-- Staff view previous Item requests -->
    <servlet>
        <servlet-name>staffViewRequests</servlet-name>
        <servlet-class>com.servlet.staff.ShowRequestItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staffViewRequests</servlet-name>
        <url-pattern>/staff/requestedItem</url-pattern>
    </servlet-mapping>
    
    <!-- staff member update sold fuel count -->
    <servlet>
		<servlet-name>FuelManageServlet</servlet-name>
		<servlet-class>com.servlet.admin.FuelManageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FuelManageServlet</servlet-name>
		<url-pattern>/staff/FuelManageServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Manager & Admin update fuel stock -->
	<servlet>
		<servlet-name>UpdateFuelServlet</servlet-name>
		<servlet-class>com.servlet.admin.UpdateFuelServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateFuelServlet</servlet-name>
		<url-pattern>/staff/UpdateFuelServlet</url-pattern>
	</servlet-mapping>
	

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.servlet.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Request.html</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>register.jsp</welcome-file>
    </welcome-file-list>
</web-app>
